@import "tailwindcss";

@theme {
  --color-dark-grey: #161615;
  --color-grey: #393431;
  --color-brown: #574d46;
  --color-medium-taupe: #887a6d;
  --color-taupe-beige: #a99a8a;
  --color-sand-beige: #cbbba8;
  --color-light-beige: #e4d9cc;
  --color-white-broken: #f4f0ea;
}
